<!doctype html> 
<html>  
  <head>  
    <title><%=shopName%></title> 
    <link rel="stylesheet" href="/css/style.css">
  </head>  
  <body>  
    <header>
     <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/search">Search</a>
        <a href="/register">Register</a>
        <a href="/survey">Survey</a>
      </nav>
  </header>
  
  <h1>Register</h1>

    <% if (typeof registered === 'undefined') { %>
      <div class="register-box">
        <form method="POST" action="/registered">
          <label for="first">First Name:</label>
          <input id="first" type="text" name="first" required>

          <label for="last">Last Name:</label>
          <input id="last" type="text" name="last" required>

          <label for="email">Email:</label>
          <input id="email" type="email" name="email" required>

          <input type="submit" value="OK">
        </form>
      </div>
    <% } else { %>
      <div class="result-box">
        <p>
          Hello <strong><%= registered.first %> <%= registered.last %></strong>!<br>
          You are now registered with <strong><%= registered.email %></strong>.
        </p>
        <a href="/register" class="btn">Register another</a>
      </div>
    <% } %>
  </body>
</html>